<app-global-modal [title]="'Transaction'" [icon]="'fa-solid fa-eye text-[14px] cursor-pointer'">
  <div class="relative p-6 flex-auto">
     <div class="bg-white p-3 shadow-sm rounded-sm">
       <div class="text-gray-700">
         <div class="grid md:grid-cols-2 text-sm">
           <div class="grid grid-cols-2">
             <div class="px-4 py-2 font-semibold">Source Account</div>
             <div class="px-4 py-2">
               {{ transactionData.sourceAccount }}
             </div>
           </div>
           <div class="grid grid-cols-2">
             <div class="px-4 py-2 font-semibold">Destination Account</div>
             <div class="px-4 py-2">
               {{ transactionData.destinationAccount }}
             </div>
           </div>
           <div class="grid grid-cols-2">
             <div class="px-4 py-2 font-semibold">Amount</div>
             <div class="px-4 py-2">{{ transactionData.amount }}</div>
           </div>
           <div class="grid grid-cols-2">
             <div class="px-4 py-2 font-semibold">Agent</div>
             <div class="px-4 py-2">{{ transactionData.agentId }}</div>
           </div>
           <div class="grid grid-cols-2">
             <div class="px-4 py-2 font-semibold">From</div>
             <div class="px-4 py-2">{{ transactionData.fromId }}</div>
           </div>
           <div class="grid grid-cols-2">
             <div class="px-4 py-2 font-semibold">to</div>
             <div class="px-4 py-2">{{ transactionData.toId }}</div>
           </div>
         </div>
       </div>
     </div>
   </div> 
 </app-global-modal>
 