<div class="flex flex-col md:space-y-8 w-[85%] mx-auto">
    <div class="flex items-start justify-between py-4 -ml-10 capitalize border-b rounded-t">
        <h3 class="text-lg font-medium">Make transaction</h3>
    </div>
    <ol class="items-center justify-between w-full space-y-4 sm:flex sm:space-x-28 sm:space-y-0">
        <li class="flex items-center text-gray-500 space-x-2.5" [ngClass]="{
            'text-blue-700 dark:text-blue-700':step===0
        }">
            <span [ngClass]="{
                'text-blue-700':step===0,
                'dark:border-blue-700':step===0
            }" class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0">
                1
            </span>
            <span>
                <h3 class="font-medium leading-tight">Transaction informations</h3>
            </span>
            <svg aria-hidden="true" class="w-4 h-4 ml-2 sm:ml-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" st roke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7">
                </path>
            </svg>
        </li>
        <li class="flex items-center text-gray-500 space-x-2.5" [ngClass]="{
            'text-blue-600 dark:text-blue-500':step===1
        }">
            <span [ngClass]="{
                'text-blue-600':step===1,
                'dark:border-blue-500':step===1
            }" class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0">
                2
            </span>
            <span>
                <h3 class="font-medium leading-tight">Review informations</h3>
            </span>
            <svg aria-hidden="true" class="w-4 h-4 ml-2 sm:ml-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7">
                </path>
            </svg>
        </li>
        <li class="flex items-center text-gray-500 space-x-2.5" [ngClass]="{
            'text-blue-600 dark:text-blue-500':step===2
        }">
            <span [ngClass]="{
                'text-blue-600':step===2,
                'dark:border-blue-500':step===2
            }" class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0">
                3
            </span>
            <span>
                <h3 class="font-medium leading-tight">Successfully transaction</h3>
            </span>
        </li>
    </ol>

    <form class="py-2 space-y-2" [formGroup]="transactionForm">
        <div *ngIf="step===0" class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
                <label class="block mb-2 text-sm font-medium text-gray-900">
                    Source Account
                </label>
                <input formControlName="sourceAccount" type="text" placeholder="Source Account"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:outline-none focus:border-indigo-700 block w-full p-2" />
            </div>
            <div class="col-span-6 sm:col-span-3">
                <label class="block mb-2 text-sm font-medium text-gray-900">
                    Destination Account
                </label>
                <input formControlName="destinationAccount" type="text" placeholder="Destination Account"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:outline-none focus:border-indigo-700 block w-full p-2" />
            </div>
            <div class="col-span-6 sm:col-span-3">
                <label class="block mb-2 text-sm font-medium text-gray-900">
                    Amount
                </label>
                <input formControlName="amount" type="number" placeholder="Amount"
                    class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded bg-gray-50 focus:outline-none focus:border-indigo-700" />
            </div>
        </div>
        <div class="" *ngIf="step===1">
            <ul class="max-w-md space-y-1  list-disc list-inside">
                <li>
                    Source Account: {{ transactionForm.get('sourceAccount')?.value }}
                </li>
                <li>
                    Destination Account: {{ transactionForm.get('destinationAccount')?.value }}
                </li>
                <li>
                    Amount: {{ transactionForm.get('amount')?.value }}
                </li>
            </ul>
        </div>
        <div *ngIf="step===2 && success" class="flex items-center justify-center w-full">
            <div class="w-full max-w-md p-4">
                <div class="p-4 text-center bg-white rounded-lg shadow sm:p-5">
                    <div
                        class="w-12 h-12 rounded-full bg-green-100 dark:bg-green-900 p-2 flex items-center justify-center mx-auto mb-3.5">
                        <svg aria-hidden="true" class="w-8 h-8 text-white success-icon" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Success</span>
                    </div>
                    <p class="mb-4 text-lg font-semibold text-gray-600 success-text">Successfully transaction.</p>
                    <button routerLink="/admin/transactions"
                        class="px-4 py-2 mr-1 text-xs font-medium text-white uppercase transition-all duration-150 ease-linear bg-blue-600 rounded shadow outline-none cursor-pointer hover:shadow-md focus:outline-none"
                        type="button">
                        Continu
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="border-t border-gray-200 rounded-b d-flex justify-content-between">
        <button *ngIf="step==1" (click)="previousStep()"
            class="px-4 py-2 mr-1 text-xs font-medium text-gray-500 uppercase transition-all duration-150 ease-linear border border-blue-200 rounded shadow outline-none cursor-pointer hover:shadow-md focus:outline-none border-blue"
            type="button">
            back
        </button>
        <button [ngClass]="{
            'bg-gray-400':isLoading,
        }" *ngIf="step===1" (click)="makeTransaction(transactionForm)" [disabled]="isLoading"
            class="px-4 py-2 mr-1 text-xs font-medium text-white uppercase transition-all duration-150 ease-linear bg-blue-800 rounded shadow outline-none cursor-pointer hover:shadow-md focus:outline-none"
            type="button">
            <div class="flex items-center gap-2">
                {{isLoading ? 'loading':'submit'}}
                <app-spinner *ngIf="isLoading" [props]="{width:'22px',height:'22px'}"></app-spinner>
            </div>
        </button>
        <button *ngIf="step===0" (click)="nextStep()"
            class="px-4 py-2 mr-1 text-xs font-medium text-white uppercase transition-all duration-150 ease-linear bg-blue-700 rounded shadow outline-none cursor-pointer hover:shadow-md focus:outline-none"
            type="button">
            next
        </button>
    </div>
</div>